
{% extends "AppNaranja/base.html" %}
{% load static %}
{% block content %}

    <div class="container">                             <!-- Contenedor del GRID -->

        <div style="float: right;">
            {% include "carro/widget.html" %}
        </div>

        <div class="row">    <!-- FILA -->

            {% for producto in productos %}

                <div class="col-md-3">                 <!-- COLUMNA -->

                    <!-- Tarjetita (Formato CARD),
                    parece una tarjetita de Material Design -->
                    <div class="card" style="margin: 5px 5px">
                        <div class="card-header">       <!-- Imagen -->
                            <!-- img-fluid ajusta la imagen al tamaño del div -->
                            <img class="card-img-top img-fluid" src="{{producto.imagen.url}}">
                        </div>
                        <div class="card-body" style="text-align:center;">
                            <h5 class="card-title">
                                {{producto.nombre}}     <!-- Nombre -->
                            </h5>
                            <p class="card-text">
                                {{producto.precio}} €   <!-- Precio -->
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-primary">
                                Agregar al carro        <!-- Botón "Agregar" -->
                            </a>
                        </div>
                    </div>

                </div>  <!-- COLUMNA -->

            {% endfor %}

        </div>          <!-- FILA -->

    </div>              <!-- GRID -->

{% endblock %}