
{% extends "AppNaranja/base.html" %}
{% load static %}
{% block content %}

<div>
    <div class="container col-md-4 contenedorFormulario" style="margin: 20px auto;">
        <p>Introduce tus datos:</p>
        <form method="post" action="" style="text-align: center;">
            {% csrf_token %} <!-- Necesario -->
            <table style="margin: 20px auto;">
                {{ miformulario.as_table }}
            </table>
            <input type="submit" value="Enviar">
        </form>
        {% if "ok" in request.GET %}
            <script>
                window.alert("Información enviada.\nMuchas gracias.");
            </script>
            <p style="color:white;">
                Información enviada. Muchas gracias.
            </p>
        {% else %}
            <br>
        {% endif %}
    </div>
</div>
{% endblock %}